<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>217033854510-cid11l9ml9ja88na9p2l7c2c5plf97ne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217033854510-cid11l9ml9ja88na9p2l7c2c5plf97ne</string>
	<key>API_KEY</key>
	<string>AIzaSyAlQ0TuturKZnkv0MrQKjU3WRZqNmLdBIc</string>
	<key>GCM_SENDER_ID</key>
	<string>217033854510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tccTestAb</string>
	<key>PROJECT_ID</key>
	<string>test-ab-tcc</string>
	<key>STORAGE_BUCKET</key>
	<string>test-ab-tcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217033854510:ios:f81e38854891e0efc419bf</string>
</dict>
</plist>